:root {
  --main--color: rgba(34, 40, 49, 1)!important;
  --chips: #f7f7f7;
  --selection-button: #c66;
}

@media (max-width: 1199.98px) {
  #button-add-address, #button-dropdown-address {
    font-size: 11px;
  }
}

.navigation {
  padding-top: 85px;
}

.navigation a {
  color: #000;
  margin: 20px;
  font-weight: 300;
}

.navigation a:hover, .title-payment {
  color: var(--selection-button);
}

#payment {
  color: #000;
  font-weight: 100;
  font-family: sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.free-shipping, .items-cart, .cart-resumen, #address-selected {
  background-color: var(--chips);
  border-radius: 5px;
  border: #C1C1C1 2px;
  border-style: dashed;
}

.circle {  
  /* transform: scale(25%); */
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #000;
  background: #fff;
  margin: 0 auto;
}

.circle > div {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#item-sizes > div {
  text-decoration: none;
  position: relative;  
  display: inline-block;
  text-align: center; 
  vertical-align: middle;  
  background-color: #000;
  color: #fff;
  border-radius: 10%;
  line-height: 35px;
  height: 35px;
  width: 35px;
  font-size: 10pt;
}


#button-add-address, #button-dropdown-address, #button-save-address {
  margin-bottom: 35px;
  width: 100%;
  height: 50px;
  background-color: var(--main--color);
  color: #fff;
}


#button-add-address:hover, #button-dropdown-address:hover, #button-save-address:hover {
  background-color: var(--selection-button);
}