@model ZofyaMVC.Models.Customer

@{
    Layout = "_ZofyaAccessLayout";
    ViewData["Title"] = "Zofya";
}

@section Styles {
    <link rel="stylesheet" href="~/css/zofya_mainpage_style.css" />
}

<h1>@ViewData["UserTest"]</h1>
<nav class="navbar navbar-expand-md navbar-dark bg-dark background-dark" style="padding-bottom: 5px!important;">
    <div id="container-fluid-flex" class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-md-0" asp-controller="Access" asp-action="Index">
                <h2 class="brand-zofya brand-zofya-logo">Zofya</h2>
            </a>
            <ul class="navg-center navbar-nav mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="dropdown-style nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mujer
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="dropdown-style nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Hombre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="dropdown-style nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Accesorios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="right-elements d-flex align-items-center">
            <a class="text-reset me-3 link-text-style" href="#">
                <i class="fa fa-heart"><span id="icon-amount-wishlist"
                        class="translate-middle badge rounded-pill bg-danger">1</span></i>
                Wishlist
            </a>

            <a class="text-reset me-3 link-text-style" href="#">
                <i class="fa fa-cart-shopping"><span id="icon-amount-cart-shopping"
                        class="translate-middle badge rounded-pill bg-danger">1</span></i>
                My Cart
            </a>

            <div class="dropdown">
                <a class="link-text-style text-reset dropdown-toggle d-flex align-items-center" href="#"
                    id="navbar-dropdown-user" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i id="user-account-icon" class="fa fa-user" style="margin-right: 5px;"></i>
                    @Model.FullName
                </a>
                <ul class="dropdown-menu dropdown-menu-end" style="margin-right: 50%;" aria-labelledby="navbarDropdown">                    
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Access" asp-action="LogOut">Logout</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="dropdown-item" href="#">Test</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
</nav>

<main id="main">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-pause="false">
        <div class="carousel-inner" data-pause="false">

            <div class="carousel-item active bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-7.webp" class="d-block w-100" alt="modelo-7">
                <div class="mask mask-carousel"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="carousel-item bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-8.webp" class="d-block w-100" alt="modelo-8">
                <div class="mask"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="carousel-item bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-9.webp" class="d-block w-100" alt="modelo-9">
                <div class="mask"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<section id="main-products">
    <div class="mt-5 mb-5 container-xl">
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-1.webp" class="card-img-top products-style-images"
                    alt="Modelo 1" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-5.webp" class="card-img-top products-style-images"
                    alt="Modelo 5" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-12.webp" class="card-img-top products-style-images"
                    alt="Modelo 12" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="ratio ratio-16x9 mt-5 mb-5 container-md" style="padding: 0;">
    <video autoplay controls muted loop class="container-fluid video-style">
        <source src="~/assets/video/modaVideo.mp4" type="video/mp4">
    </video>
    <div class="mask mask-video container-md">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h2 class="brand-zofya brand-zofya-logo text-white mb-0">Zofya</h2>
        </div>
    </div>
</div>

<br class="mb-3">
<div class="container-md" style="text-align: center; color: black;">
    <h1>#zofya</h1>
    <h3 class="zofya-text">Show us what you're loving</h3>
</div>

<div class="lightbox container-md mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/assets/images/webp/modelo-6.webp" alt="modelo 6"
                class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            <img src="~/assets/images/webp/modelo-13.webp" alt="modelo 13" class="w-100 shadow-1-strong rounded" />
        </div>
        <div class="col-lg-6">
            <img src="~/assets/images/webp/modelo-11.webp" alt="modelo 11" class="w-100 shadow-1-strong rounded" />
        </div>
    </div>
</div>

<section id="zofya-mision">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 bg-image">

                <img src="~/assets/images/webp/modelo-10.webp" class="d-block w-100" alt="modelo-10">
                <div class="mask mask-mision"></div>
                <div class="d-md-block">
                    <div class="container-sm zofya-mision-text">
                        <h2 class="display">Discover the world of <span class="brand-zofya">Zofya</span></h2>
                        <p class="mt-4">Subscribe Zofya and be the first to receive the latest news on trends, new
                            product launches and exclusive offers.</p>
                        <button id="buttonSignUp" type="button" class="btn btn-dark button-signup mt-2"
                            data-mdb-ripple-color="dark">
                            sign up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<script src="/js/index.js"></script>
}