@{
    Layout = "_ZofyaLayout";
    ViewData["Title"] = "Zofya";
}

@section Styles {
    <link rel="stylesheet" href="~/css/zofya_mainpage_style.css"/>

}

<main id="main">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-pause="false">
        <div class="carousel-inner" data-pause="false">

            <div class="carousel-item active bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-7.webp" class="d-block w-100" alt="modelo-7">
                <div class="mask mask-carousel"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="carousel-item bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-8.webp" class="d-block w-100" alt="modelo-8">
                <div class="mask"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="carousel-item bg-image" data-bs-interval="100">
                <img src="~/assets/images/webp/modelo-9.webp" class="d-block w-100" alt="modelo-9">
                <div class="mask"></div>
                <div class="carousel-caption d-md-block">
                    <h1 class="display brand-zofya">Zofya</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<section id="main-products">
    <div class="mt-5 mb-5 container-xl">
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-1.webp" class="card-img-top products-style-images" alt="Modelo 1" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-5.webp" class="card-img-top products-style-images" alt="Modelo 5" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col bg-image hover-zoom">
                <img src="~/assets/images/webp/modelo-12.webp" class="card-img-top products-style-images"
                    alt="Modelo 12" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <h4 class="card-main-text text-white mb-0">Can you see me?</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="ratio ratio-16x9 mt-5 mb-5 container-md" style="padding: 0;">
    <video autoplay controls muted loop class="container-fluid video-style">
        <source src="~/assets/video/modaVideo.mp4" type="video/mp4">
    </video>
    <div class="mask mask-video container-md">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h2 class="brand-zofya brand-zofya-logo text-white mb-0">Zofya</h2>
        </div>
    </div>
</div>

<br class="mb-3">
<div class="container-md" style="text-align: center; color: black;">
    <h1>#zofya</h1>
    <h3 class="zofya-text">Show us what you're loving</h3>
</div>

<div class="lightbox container-md mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/assets/images/webp/modelo-6.webp" alt="modelo 6"
                class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            <img src="~/assets/images/webp/modelo-13.webp" alt="modelo 13" class="w-100 shadow-1-strong rounded" />
        </div>
        <div class="col-lg-6">
            <img src="~/assets/images/webp/modelo-11.webp" alt="modelo 11" class="w-100 shadow-1-strong rounded" />
        </div>
    </div>
</div>

<section id="zofya-mision">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 bg-image">

                <img src="~/assets/images/webp/modelo-10.webp" class="d-block w-100" alt="modelo-10">
                <div class="mask mask-mision"></div>
                <div class="d-md-block">
                    <div class="container-sm zofya-mision-text">
                        <h2 class="display">Discover the world of <span class="brand-zofya">Zofya</span></h2>
                        <p class="mt-4">Subscribe Zofya and be the first to receive the latest news on trends, new
                            product launches and exclusive offers.</p>
                        <button id="buttonSignUp" type="button" 
                         class="btn btn-dark button-signup mt-2" data-mdb-ripple-color="dark">
                         sign up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="/js/index.js"></script>
}